.slider {
  height: 300px;

  .slider__list {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
  }

  .slider__slide {
    min-width: 100%;
    max-width: 100%;
    height: 100%;
    background: gray;

    * {
      height: 100%;
    }
  }
}
